@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #464377;
}

button {
  user-select: none;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #464377;
}

::-webkit-scrollbar-thumb {
  background: rgb(135, 135, 135);
  border-radius: 25px;
} 

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; /* quita el borde cuando se presiona */
}

select:focus {
  outline: none; /* quita el borde cuando se presiona */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]:focus {
  outline: none;
}
